---
import { Code2, Database, Globe, Smartphone, Cloud, Zap, Square, SquareCode } from 'lucide-astro';
---

<section id="skills" class="py-20 bg-slate-50">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="text-center mb-16">
      <h2 class="text-3xl sm:text-4xl font-bold text-slate-900 mb-4">
        Habilidades & Tecnologías
      </h2>
      <p class="text-lg text-slate-600 max-w-2xl mx-auto">
       Aquí muestro algunas de las tecnologías y herramientas que uso para desarrollar mis proyectos.
      </p>
    </div>
    
    
    
    <div class="grid md:grid-cols-3 gap-8">
     <div class="bg-white text-center rounded-xl p-8 shadow-md hover:shadow-lg transition-shadow">
        <div class="w-20 h-20 bg-blue-100 rounded-full flex items-center justify-center mx-auto mb-4">
          <Globe size={40} class="text-blue-600" />
        </div>
        <h3 class="text-lg font-bold text-slate-900 mb-2">Desarrollo Frontend</h3>
        <p class="text-slate-600">React, Next.js, Astro, Tailwind, TypeScript, HTML, CSS, Sass, Testing Library</p>
      </div>
      
     <div class="bg-white text-center rounded-xl p-8 shadow-md hover:shadow-lg transition-shadow">
        <div class="w-20 h-20 bg-green-100 rounded-full flex items-center justify-center mx-auto mb-4">
          <SquareCode size={40} class="text-green-600" />
        </div>
        <h3 class="text-lg font-bold text-slate-900 mb-2">Desarrollo Backend</h3>
        <p class="text-slate-600">Node.js, Express, NestJS, MongoDB, PostgreSQL, Supabase, Jest</p>
      </div>
      
     <div class="bg-white text-center rounded-xl p-8 shadow-md hover:shadow-lg transition-shadow">
        <div class="w-20 h-20 bg-orange-100 rounded-full flex items-center justify-center mx-auto mb-4">
          <Zap size={40} class="text-orange-600" />
        </div>
        <h3 class="text-lg font-bold text-slate-900 mb-2">Herramientas</h3>
        <p class="text-slate-600">Git, VS Code, Cursor, Figma, Postman</p>
      </div>
    </div>
  </div>
</section>